<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Your recipe</title>
</head>
<body>
    <div class="container">
        <div class="wrapper bg-light">
            <div class="row" style="text-align: right;">
                <div class="col-sm">
                    <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
                    <a href="/profile"><button type="button" class="btn btn-secondary">Go Back</button></a>
                </div>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            </nav>
            <h2>{{cocktail.cocktail_name}}</h2>
            <img src="{{cocktail.image.url}}" alt="Cocktail Image" width="300px">
            <!-- <p>Uploaded by: {{user.first_name}} {{user.last_name}}</p> -->
            <h4>Ingredients:</h4>
            <p>{{cocktail.ingredients}}</p>
            <h4>Drink category:</h4>
            <p>{{cocktail.category}}</p>
            <h4>Time to make:</h4>
            <p>{{cocktail.duration}} mins</p>
            <h4>Drink desctription:</h4>
            <p>{{cocktail.description}}</p>
            <h4>Instructions:</h4>
            <p>{{cocktail.instruction}}</p>
            <div class="col-6 px-2">
                <h3>Users Who Favorited this recipe</h3>
                <ul>
                    {% for favorited_by in cocktail.favorited_by.all %}
                    <li>{{favorited_by.first_name}} {{favorited_by.last_name}}</li>
                    {% endfor %}
                </ul>
                {% if user in cocktail.favorited_by.all %}
                <a href="/unfavorite/{{cocktail.id}}" role="button" class="btn btn-danger">Remove From Favorites</a>
                {% else %}
                <a href="/favorite/{{cocktail.id}}" role="button" class="btn btn-warning">Add to Favorites</a>
                {% endif %}
            </div><br>
        <a href="/editrecipe/{{cocktail.id}}"><button type="button" class="btn btn-primary">Edit</button></a>
        <a href="/deletecocktail/{{cocktail.id}}"><button type="button" class="btn btn-primary">Delete</button></a>
        <a href="/">Home</a>    
        </div>
    </div>
</body>
</html>