<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>Homepage</title>
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="col">
                {% if request.session.curr_user %}
                <a href="/logout" type="button" style="color: black;" class="btn btn-secondary">Logout</a>
                {% else %}
                <a href="/login" type="button" style="color: black;" class="btn btn-secondary">Sign in</a> | 
                <a href="/register" type="button" style="color: black;" class="btn btn-secondary">Register</a>
                {% endif %}
            </div>
        </div><br>
        <div class="wrapper bg-light">
            <div class="main">
                <h2>Cocktail Recipes</h2>
            </div>
            <div class="sidebar bg-light">
                <ul style="text-decoration: none;">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="cocktail_list bg-light">
<!-- The newest cocktail recipe should load here.
I dont have all the code working for it yet though. -->
                <div class="new_cocktail">
                    <h5 style="text-align: left;">New Cocktail</h5>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
<!-- These will display the duration entered when working.  -->
                            <div class="recipe_duration">
                                    <p>{{ cocktail.duration }} mins</p>
                                </div>
                        </div>
                        <a href="/cocktailrecipe/{{recipe.id}}"><button>{{ cocktail.cocktail_name}}</button></a>
                    </div>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
                            <!-- <div class="recipe_duration">
                                <p>{{ recipe.duration }} mins</p>
                            </div> -->
                        </div>
                        <a href="/cocktailrecipe/{{recipe.id}}"><button>{{ cocktail.cocktail_name}}</button></a>
                    </div>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
                            <!-- <div class="recipe_duration">
                                <p>{{ recipe.duration }} mins</p>
                            </div> -->
                        </div>
                        <a href="/cocktailrecipe/{{recipe.id}}"><button>{{ cocktail.cocktail_name}}</button></a>
                    </div>
                </div>
<!-- Here is the end for the new recipes -->
                    <!-- <div class="row">
                        <h4>Popular Recipes</h4>
                        <div class="col-sm-6">
                            <p>{{drink_name}}</p>
                            <p>{{drink_image}}</p>
                            <p>{{drink_instruction}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h3>Your favorite Recipes</h3>
                            <p>Favorited recipe goes here</p>
                        </div>
                    </div> -->
<!-- This is the start of the favorite recipes when its working. -->
                <div class="favorite_cocktails">
                    <h5 style="text-align: left;">Favorite Cocktails</h5>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
                            <!-- <div class="recipe_duration">
                                <p>{{ recipe.duration }} mins</p>
                            </div> -->
                        </div>
                        <button>cocktail name</button>
                    </div>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
                            <!-- <div class="recipe_duration">
                                <p>{{ recipe.duration }} mins</p>
                            </div> -->
                        </div>
                        <button>cocktail name</button>
                    </div>
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img src="{{cocktail.image.url" alt="Cocktail Image">
                            <!-- <div class="recipe_duration">
                                <p>{{ recipe.duration }} mins</p>
                            </div> -->
                        </div>
                        <button>cocktail name</button>
                    </div>    
                </div>
<!-- It ends here. -->
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="">

        </div>
    </footer>
</body>

</html>