<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>Homepage</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="navbar">
                {% if request.session.curr_user %}
                <a href="/logout">Logout</a>
                {% else %}
                <a href='/login'><button type="submit" value="Add">Login</button></a> | <a href='/register'><button
                        type="submit" value="Add">Register</button></a>
                {% endif %}
            </div>
        </header><br>
        <div class="wrapper">
            <div class="sidebar">
                <ul style="text-decoration: none;">
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="/profile" style="color: black;">Profile</a></li>
                    <li><a href="/about" style="color: black;">About</a></li>
                    <li><a href="/contact" style="color: black;">Contact</a></li>
                </ul>
            </div>
            <main class="cocktail_list">
                <div class="header">
                <h1>Cocktail Recipes</h1>
                </div>
                <div class="cocktail">
                    <div class="row">
                        <h4>Popular Recipes</h4>
                        <div class="col-sm-6">
                            <p>{{drink_name}}</p>
                            <p>{{drink_image}}</p>
                            <p>{{drink_instruction}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h3>Your favorite Recipes</h3>
                            <p>{{Favorited recipe goes here}}</p>
                        </div>
                    </div>
                </div>
                <div class="cocktail">
                    <div class="cocktail_image">
                        <h3>cocktail image</h3>
                    </div>
                    <button>cocktail name</button>
                </div>
                <div class="cocktail">
                    <div class="cocktail_image">
                        <h3>cocktail image</h3>
                    </div>
                    <button>cocktail name</button>
                </div>
                <div class="cocktail">
                    <div class="cocktail_image">
                        <h3>cocktail image</h3>
                    </div>
                    <button>cocktail name</button>
                </div>
                <div class="cocktail">
                    <div class="cocktail_image">
                        <h3>cocktail image</h3>
                    </div>
                    <button>cocktail name</button>
                </div>
                <div class="cocktail">
                    <div class="cocktail_image">
                        <h3>cocktail image</h3>
                    </div>
                    <button>cocktail name</button>
                </div>
            </div>
            <!-- <div class="searchbar">
                <div>
                    <h3>Search cocktails</h3>
                </div>
            </div> -->
        </div>
    </div>
    <footer class="footer">
        <div class="">

        </div>
    </footer>
</body>

</html>