<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header class="header">        
        <div class="navbar">
            <a href="/logout">Logout</a>
        </div>
    </header>
    <div class="sidebar">
        <ul style="text-decoration: none;"> 
            <li><a href="/" style="color: black;" >Home</a></li>
            <li><a href="/profile" style="color: black;">Profile</a></li>
            <li><a href="/about" style="color: black;">About</a></li>
            <li><a href="/contact" style="color: black;">Contact</a></li>
        </ul>
    </div>
    <h1>This is the Profile Page</h1>
    <a href="/addcocktail">Share your cocktail recipe</a>
</body>
</html>