<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profilepage.css' %}">
    <title>Profile</title>
</head>

<body>
    <div class="container">
        <div class="wrapper bg-light">
            <div class="row" style="text-align: right;">
                <div class="col-sm">
                    <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
                    <a href="/"><button type="button" class="btn btn-secondary">Go Back</button></a>
                </div>
            </div>
            <div class="user">
                <h1>Hello {{user.first_name}}!</h1>
            </div><br>
            <div class="row">
                <div class="col-sm" style="text-align: left;">
                    <a href="/addcocktail"><button type="button" class="btn btn-primary">Share your cocktail recipe</button></a>
                </div>
            </div>
            <div class="sidebar bg-light">
                <ul style="text-decoration: none;">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="headline">
                <h3 style="text-align: left;">Created Cocktails</h3>
                {% for cocktail in created_cocktails %}
                <div class="created_recipes" style="display: inline-block;">
                    <img src="{{cocktail.image.url}}" alt="Cocktail Image" width="300px">
                    <h3>{{cocktail.cocktail_name}}</h3>
                    <p>Uploaded by: {{user.first_name}}</p>
                    <p>{{cocktail.duration}} mins</p>
                    <a href="/cocktailrecipe/{{cocktail.id}}"><button type="button" class="btn btn-primary">View Cocktail</button></a>
                    <a href="/deletecocktail/{{cocktail.id}}"><button type="button" class="btn btn-primary">Delete</button></a>
                </div>
                {% endfor %}
            </div>

<!-- Still need to create a function to favorite recipes and have them displayed here. -->

            <div class="col-sm-6">
                <h3>Your favorite Recipes</h3>
                <p>Favorited recipe goes here</p>
                <a href="/deletecocktail/{{cocktail.id}}"><button>Delete</button></a><br>
            </div>

            <div class="cocktail_list bg-light">
                <div class="new_cocktail">
                    <h3 style="text-align: left;">You might also like</h3>

                    {% for cocktail in cocktails %}
                    <div class="cocktail">
                        <div class="cocktail_image">
                            <img style="width: 300px; height: auto;" src="{{cocktail.strDrinkThumb}}" alt="Cocktail Image">
                            <div class="recipe_duration">
                                <p>{{ cocktail.Duration }} mins</p>
                            </div>
                        </div>
                        <a href="/cocktailrecipe/{{cocktail.id}}"><button>Name: {{cocktail.strDrink}}</button></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
</body>

</html>